<mat-toolbar>
  <div class="container">
    <span>Angular - Exercise 5</span>
    <ul class="nav-list">
      <li
        class="nav-item"
        routerLink="blog"
        routerLinkActive="router-link-active"
      >
        Blog List
      </li>
      <li
        class="nav-item"
        routerLink="book"
        routerLinkActive="router-link-active"
      >
        Book List
      </li>
      <li
        class="nav-item"
        routerLink="profile"
        routerLinkActive="router-link-active"
      >
        Profile Form
      </li>
    </ul>
    <app-command-bar
      (addEmitter)="add()"
      (deleteAllEmitter)="deleteAll()"
    ></app-command-bar>
  </div>
</mat-toolbar>
