mat-toolbar {
  background-color: #009879;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-list {
  display: flex;
  gap: 1.5rem;
}

.nav-item {
  position: relative;
  font-size: 1rem;
  cursor: pointer;
}

.nav-item::after,
.router-link-active::after {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #fff;
  border-radius: 100vmax;
  transition: width 300ms ease-in;
}

.nav-item:hover::after {
  width: 100%;
}
