<nav>
  <div class="container">
    <ul>
      <li>
        <a routerLink="blog" routerLinkActive="router-link-active">Blog</a>
      </li>
      <li>
        <a routerLink="book" routerLinkActive="router-link-active">Book</a>
      </li>
      <li>
        <a routerLink="profile" routerLinkActive="router-link-active"
          >Profile</a
        >
      </li>
    </ul>
    <app-command-bar
      (addEmitter)="add()"
      (deleteAllEmitter)="deleteAll()"
    ></app-command-bar>
  </div>
</nav>
