.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  padding: 2rem 1rem;
}

@media screen and (min-width: 960px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
