.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 5rem;
}

form {
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}

mat-form-field {
  width: 100%;
}

.hint {
  margin-bottom: 0;
}

.authors {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.details {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 1rem;
}

.form-group {
  display: flex;
  gap: 1rem;
}

.form-group > div {
  display: flex;
  gap: 0.5rem;
}

.delete,
.add {
  width: 4.5rem;
  height: 3.5rem;
  border-radius: 0.25rem;
  color: #fff;
}

.delete {
  background-color: rgb(223, 56, 56);
}

.add {
  background-color: dodgerblue;
}

.submit {
  padding: 1.5rem;
  background-color: #009879;
  color: #fff;
}
