<div class="card" *ngIf="blog">
  <div class="card-actions">
    <div class="card-icon"><mat-icon>computer</mat-icon></div>
    <div class="card-btn">
      <button class="btn-edit" (click)="edit(blog)">
        <mat-icon>edit</mat-icon>
      </button>
      <button class="btn-delete" (click)="delete(blog)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="content">
    <div class="card-title">{{ blog.title }}</div>
    <div class="card-author">{{ blog.author }}</div>
    <div class="card-description">{{ blog.description }}</div>
    <div class="card-label">Comments:</div>
    <div class="card-comments">
      <ng-container *ngFor="let author of blog.comments"
        ><span>{{ author }}</span
        ><br />
      </ng-container>
    </div>
  </div>
</div>
