.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

h2 {
  font-size: 2.25rem;
}

form {
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

mat-form-field {
  width: 100%;
}

.hint {
  margin-bottom: 0;
}

.form-group {
  display: flex;
  gap: 1rem;
}

.authors {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.details {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 1rem;
}

.form-group > div {
  display: flex;
  gap: 0.5rem;
}

.delete,
.add {
  padding: 1.75rem 0;
  color: #fff;
}

.add {
  background-color: dodgerblue;
}

.submit {
  padding: 1rem;
  background-color: #009879;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: background-color 300ms ease;
}

.submit:hover {
  background-color: #1e7462;
}

button {
  background-color: #009879;
  color: #fff;
}
