.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 5rem;
}

form {
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

mat-form-field {
  width: 100%;
}

.hint {
  margin-bottom: 0;
}

button {
  width: 100%;
  padding: 1rem;
  background-color: #009879;
  border-radius: 0.25rem;
  color: #fff;
  transition: background-color 300ms ease;
  font-size: 1rem;
}

button:hover {
  background-color: #147965;
}

.authors {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.details {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 1rem;
}
