<app-header></app-header>

<div class="container">
  <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Enter  title" formControlName="title" />
      </mat-form-field>
      <div
        *ngIf="blogForm.get('title')?.invalid && blogForm.get('title')?.dirty"
        class="hint"
      >
        <mat-error *ngIf="blogForm.get('title')?.errors?.['required']">
          Title is required
        </mat-error>
      </div>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Enter description"
          formControlName="description"
        ></textarea>
      </mat-form-field>
      <div
        *ngIf="
          blogForm.get('description')?.invalid &&
          blogForm.get('description')?.dirty
        "
        class="hint"
      >
        <mat-error *ngIf="blogForm.get('description')?.errors?.['required']">
          Description is required
        </mat-error>
      </div>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <input matInput placeholder="Enter author" formControlName="author" />
      </mat-form-field>
      <div
        *ngIf="blogForm.get('author')?.invalid && blogForm.get('author')?.dirty"
        class="hint"
      >
        <mat-error *ngIf="blogForm.get('author')?.errors?.['required']">
          Author is required
        </mat-error>
      </div>
    </div>
    <div>
      <ng-container formArrayName="comments">
        <div
          *ngFor="let _ of commentsArray.controls; index as i"
          class="form-group"
        >
          <mat-form-field appearance="outline">
            <mat-label>Comment</mat-label>
            <input matInput placeholder="Enter comment" [formControlName]="i" />
          </mat-form-field>
          <div>
            <button
              mat-raised-button
              color="warn"
              class="delete"
              (click)="deleteBlog(i)"
            >
              Delete
            </button>
            <button mat-raised-button class="add" (click)="addBlog()">
              Add
            </button>
          </div>
        </div>
      </ng-container>
    </div>
    <button mat-raised-button class="submit">Submit</button>
  </form>
</div>
